/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url(../assets/images/WhatsApp\ Image\ 2025-06-25\ at\ 18.41.54_dc782ebc.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: brightness(0.8) blur(5px);

}

form {
  background-color: rgba(181, 169, 169, 0.491);
  padding: 40px 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(143, 137, 137, 0.626);
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #fff;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #fff;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #cccccc7a;
  border-radius: 8px;
  transition: 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #667eea;
  outline: none;
  box-shadow: 0 0 5px rgba(102, 126, 234, 0.5);
}

button {
  width: 100%;
  padding: 12px;
  background-color: #667eea;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #556cd6;
}

p {
  text-align: center;
  margin-top: 15px;
  color: #fff;
}

a {
  color: #667eea;
  text-decoration: none;
}